<app-header></app-header>
<main>
    <app-contact-info-create></app-contact-info-create>
    <app-objective-create></app-objective-create>
    <app-education-create></app-education-create>
    <app-education-list></app-education-list>
    <app-experience-create (experienceCreated)="onExperienceAdded($event)"></app-experience-create>
    <app-experience-list [experienceList]="experiences"></app-experience-list>
    <app-skill-create (skillCreated)="onSkillAdded($event)"></app-skill-create>
    <app-skill-list [skillList]="skills"></app-skill-list>
    <app-project-create (projectCreated)="onProjectAdded($event)"></app-project-create>
    <app-project-list [projectList]="projects"></app-project-list>
    <app-award-create></app-award-create>
    <app-award-list></app-award-list>
</main>

